*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.post {
    width: 400px;
    display: inline-block;
    margin-right: 10px;
    border: 2px solid rgb(0, 0, 0);
    }
    
    .post img{
        width: 100%;
        height: 200px;
    }
    .post section{
        padding: 10px;
    }
    .menu h3,ul,li{
        display: inline-block
        
    }
    
    .menu li{
        font-weight: bold;
        padding: 10px;
        margin-right: 10px;
        
        
    }
    .menu{
        background-color: blueviolet;
        width: 100%;
        color: white;
        margin-bottom: 10px;
        padding: 10px;
    }
    .menu li a{
        text-decoration: none;
        color: aliceblue;
    }
.redes {
    
    background-color: blueviolet;
    width: 100%;
    text-align: center;
    }
    
    .titulo h1{
     margin-left:100px;
     margin-top: 20px;
    }
    .titulo img{
        margin: 20px 0px;
        width: 100%;
    }